<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606918383484-q5684j3e7e9ail0m1j1rhnkkqutid66v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606918383484-q5684j3e7e9ail0m1j1rhnkkqutid66v</string>
	<key>API_KEY</key>
	<string>AIzaSyAUdE9zXnm4FgNQZmW-YZKfxlaBNN4ibik</string>
	<key>GCM_SENDER_ID</key>
	<string>606918383484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quantan</string>
	<key>PROJECT_ID</key>
	<string>quantan-31ade</string>
	<key>STORAGE_BUCKET</key>
	<string>quantan-31ade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606918383484:ios:57bca98cf589d7ce3236f9</string>
</dict>
</plist>